{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clínica de optometría</title>
    <link
      rel="shortcut icon"
      href="../../static/images/ojo.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../static/styles/bootstrap.min.css" />

    <!--<link rel="stylesheet" href="{% static 'styles/estilo.css' %}" /> -->
    <link rel="stylesheet" href="../../static/styles/estilo.css" />
  </head>

  <body>
    <header class="rom">
      <h1 id="titulo" class="text-center">Bienvenido</h1>
      <img
        id="logo"
        src="{% static 'images/optometrista.png'%}"
        style="width: 55px"
      >
    </header>


    <div class="container w-50 d-flex justify-content-center">
      <form class="form-inline">

        <div class="form-group mb-2">
          <label for="inputSector"></label>
            <select class="custom-select my-1 mr-sm-2" id="inputSector">
              <option selected disabled>Escoja un sector</option>
              <option value="1">Secretaría</option>
              <option value="2">Profesional médico</option>
              <option value="3">Ventas</option>
              <option value="4">Taller</option>
              <option value="5">Gerencia</option>
            </select>
        </div>

        <div class="form-group mx-sm-3 mb-2">
          <label for="inputContraseña" class="sr-only">Contraseña: </label>
          <input type="password" class="form-control" id="inputContraseña" placeholder="Contraseña">
        </div>

        <div class="form-group mx-sm-3 mb-2">
          <button type="submit" class="btn btn-primary">Iniciar</button>
        </div>

      </form>
    </div>

    <footer>
      <div>
        Clínica de optometría
      </div>
    </footer>

  </body>

</html>
